---
---
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>機械学習勉強会 | PMOB</title>
		<meta name="description" content="Learn Machine Learning.">
		<meta name="author" content="PMOB">

		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/octicons/octicons.css">
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/common.css">
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/index.css">
		<script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/index.js"></script>
	</head>
	<body>
		<header>
			<span class="octicon octicon-graph"></span>
			<h1>PMOB | 機械学習勉強会</h1>
			<ul>
				<li><a href="#about" class="smooth"><span class="octicon octicon-organization"></span></a></li>
				<li><a href="#study" class="smooth"><span class="octicon octicon-comment-discussion"></span></a></li>
				<li><a href="https://github.com/PMOB/machine_learning"><span class="octicon octicon-code"></span></a></li>
			</ul>
		</header>
		<div id="bg-box"></div>
		<section id="about">
			<h1>
				<span class="octicon octicon-broadcast"></span>
				なにこれ
			</h1>
			<ul>
				<li><a href="https://pmob.github.io">PMOB</a>の機械学習勉強会です。</li>
				<li>2016年5月より開始</li>
				<li><a href="https://pmob.slack.com/messages/machine_learning/">Slack Channel</a></li>
				<li><a href="https://github.com/PMOB/machine_learning">Repository</a></li>
			</ul>
		</section>
		<section id="study">
			<h1>
				<span class="octicon octicon-book"></span>
				本とか読んでる
			</h1>
			<h2>勉強会の資料など</h2>
			<article>
				<h1>
					<a href="https://www.morikita.co.jp/books/book/2235">
						<span class="octicon octicon-repo"></span>
					</a>
					はじめてのパターン認識
				</h1>
				<ul>
					{% for index in site.hajimeteno %}
					<li><a href="{{ site.baseurl }}{{ index.url }}">{{ index.title }}</a></li>
					{% endfor %}
				</ul>
			</article>
		</section>
		{% include footer.html %}
	</body>
</html>
